html, body {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
div#display_container {
    margin: 0px 0px 0px 60%;
    left: 0;
    top: 0;
    z-index: 10;
    position: absolute;
}
div#description {
    margin-top: 50px;
    font-size: 25px;
}
div#level {
    font-size: 16px;
}
#return_menu {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}
div#main_wrapper {
    display: none;
}
div#message_wrapper {
    display: none;
    margin: auto;
    width: 700px;
    padding-top: 200px;
}
#wrapper {
    height: 0;             /* collapse the container's height */
    width: 60%;    /* specify any width you want (a percentage value, basically) */
    /* apply a padding using the following formula */
    /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
    padding-top: 60%;
    position: relative;    /* create positioning context for svg */
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
